<p id="notice"><%= notice %></p>

<p>
  <strong>Survey:</strong>
  <%= @answer.survey_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @answer.answer %>
</p>

<p>
  <strong>Elapsed time:</strong>
  <%= @answer.elapsed_time %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
