<%= form_for(@consent) do |f| %>
  <% if @consent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consent.errors.count, "error") %> prohibited this consent from being saved:</h2>

      <ul>
      <% @consent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :pdf %><br>
    <%= f.text_field :pdf %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
