<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @consent.user_id %>
</p>

<p>
  <strong>Pdf:</strong>
  <%= @consent.pdf %>
</p>

<%= link_to 'Edit', edit_consent_path(@consent) %> |
<%= link_to 'Back', consents_path %>
