<%= form_for(@iteration) do |f| %>
  <% if @iteration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iteration.errors.count, "error") %> prohibited this iteration from being saved:</h2>

      <ul>
      <% @iteration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dot_probe_id %><br>
    <%= f.number_field :dot_probe_id %>
  </div>
  <div class="field">
    <%= f.label :img_left %><br>
    <%= f.text_field :img_left %>
  </div>
  <div class="field">
    <%= f.label :img_right %><br>
    <%= f.text_field :img_right %>
  </div>
  <div class="field">
    <%= f.label :elapsed_time %><br>
    <%= f.text_field :elapsed_time %>
  </div>
  <div class="field">
    <%= f.label :touch_position %><br>
    <%= f.text_field :touch_position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
