<p id="notice"><%= notice %></p>

<h1>Listing Iterations</h1>

<table>
  <thead>
    <tr>
      <th>Dot probe</th>
      <th>Img left</th>
      <th>Img right</th>
      <th>Elapsed time</th>
      <th>Touch position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iterations.each do |iteration| %>
      <tr>
        <td><%= iteration.dot_probe_id %></td>
        <td><%= iteration.img_left %></td>
        <td><%= iteration.img_right %></td>
        <td><%= iteration.elapsed_time %></td>
        <td><%= iteration.touch_position %></td>
        <td><%= link_to 'Show', iteration %></td>
        <td><%= link_to 'Edit', edit_iteration_path(iteration) %></td>
        <td><%= link_to 'Destroy', iteration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iteration', new_iteration_path %>
