<p id="notice"><%= notice %></p>

<p>
  <strong>Dot probe:</strong>
  <%= @iteration.dot_probe_id %>
</p>

<p>
  <strong>Img left:</strong>
  <%= @iteration.img_left %>
</p>

<p>
  <strong>Img right:</strong>
  <%= @iteration.img_right %>
</p>

<p>
  <strong>Elapsed time:</strong>
  <%= @iteration.elapsed_time %>
</p>

<p>
  <strong>Touch position:</strong>
  <%= @iteration.touch_position %>
</p>

<%= link_to 'Edit', edit_iteration_path(@iteration) %> |
<%= link_to 'Back', iterations_path %>
