<%= form_for(@probeconfigid) do |f| %>
  <% if @probeconfigid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@probeconfigid.errors.count, "error") %> prohibited this probeconfigid from being saved:</h2>

      <ul>
      <% @probeconfigid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :iterationId %><br>
    <%= f.text_field :iterationId %>
  </div>
  <div class="field">
    <%= f.label :imageLeftName %><br>
    <%= f.text_field :imageLeftName %>
  </div>
  <div class="field">
    <%= f.label :imageRightName %><br>
    <%= f.text_field :imageRightName %>
  </div>
  <div class="field">
    <%= f.label :probePosition %><br>
    <%= f.text_field :probePosition %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
