<p id="notice"><%= notice %></p>

<h1>Listing Probeconfigids</h1>

<table>
  <thead>
    <tr>
      <th>Iterationid</th>
      <th>Imageleftname</th>
      <th>Imagerightname</th>
      <th>Probeposition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @probeconfigids.each do |probeconfigid| %>
      <tr>
        <td><%= probeconfigid.iterationId %></td>
        <td><%= probeconfigid.imageLeftName %></td>
        <td><%= probeconfigid.imageRightName %></td>
        <td><%= probeconfigid.probePosition %></td>
        <td><%= link_to 'Show', probeconfigid %></td>
        <td><%= link_to 'Edit', edit_probeconfigid_path(probeconfigid) %></td>
        <td><%= link_to 'Destroy', probeconfigid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Probeconfigid', new_probeconfigid_path %>
