<p id="notice"><%= notice %></p>

<p>
  <strong>Iterationid:</strong>
  <%= @probeconfigid.iterationId %>
</p>

<p>
  <strong>Imageleftname:</strong>
  <%= @probeconfigid.imageLeftName %>
</p>

<p>
  <strong>Imagerightname:</strong>
  <%= @probeconfigid.imageRightName %>
</p>

<p>
  <strong>Probeposition:</strong>
  <%= @probeconfigid.probePosition %>
</p>

<%= link_to 'Edit', edit_probeconfigid_path(@probeconfigid) %> |
<%= link_to 'Back', probeconfigids_path %>
