<%= form_for(@dot_probe) do |f| %>
  <% if @dot_probe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dot_probe.errors.count, "error") %> prohibited this dot_probe from being saved:</h2>

      <ul>
      <% @dot_probe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :finish_date %><br>
    <%= f.text_field :finish_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
