<p id="notice"><%= notice %></p>

<h1>Listing Dot Probes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Start date</th>
      <th>Finish date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dot_probes.each do |dot_probe| %>
      <tr>
        <td><%= dot_probe.user_id %></td>
        <td><%= dot_probe.start_date %></td>
        <td><%= dot_probe.finish_date %></td>
        <td><%= link_to 'Show', dot_probe %></td>
        <td><%= link_to 'Edit', edit_dot_probe_path(dot_probe) %></td>
        <td><%= link_to 'Destroy', dot_probe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dot probe', new_dot_probe_path %>
