<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @dot_probe.user_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @dot_probe.start_date %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @dot_probe.finish_date %>
</p>

<%= link_to 'Edit', edit_dot_probe_path(@dot_probe) %> |
<%= link_to 'Back', dot_probes_path %>
