<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
	<% if userauth_signed_in? %> 
		<p>
			<%= link_to "Close Session", destroy_userauth_session_path, :method => :delete %>
		</p>
	<%end%>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>
